<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

# En tu archivo .htaccess o httpd.conf
    php_value upload_max_filesize 800M
    php_value post_max_size 800M
    php_value memory_limit 1024M


    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Evitar descarga de videos
<FilesMatch "\.(mp4|avi|mov)$">
    Header set Content-Disposition "inline"
    Header set X-Content-Type-Options "nosniff"
</FilesMatch>
